---
# tasks file for consul(On Linux)
# Since Ansible 2.0, 'src' parameter of 'unarchive' module accepts external URL(ex. http://example.com/file.zip).
# But this role doesn't use this feature because zip file is always downloaded even if same file already exits in local.
# http://docs.ansible.com/ansible/unarchive_module.html
- block:
  - name: Download Consul archive
    get_url:
      url: "{{ consul_download_url }}"
      checksum: "sha256:{{ consul_sha256 }}"
      dest: "{{ consul_download_tmppath }}"
    register: dl_result
  - name: Unarchive Consul
    unarchive:
      src: "{{ consul_download_tmppath }}"
      dest: "{{ consul_bin_dir }}"
      copy: no
    when: dl_result.changed
  - name: Ensure execute bit of Consul binary
    file:
      path: "{{ consul_bin_dir }}/consul"
      mode: 'a+x'
  - name: Add CAP_NET_BIND_SERVICE to Consul binary
    capabilities:
      path: "{{ consul_bin_dir }}/consul"
      capability: cap_net_bind_service+ep
      state: present
    when: (consul_daemon_cap_net_bind is defined) and (consul_daemon_cap_net_bind | bool)
  become: yes
- block:
  - name: Ensure consul_group exists
    group:
      name: "{{ consul_group }}"
      system: yes
  - name: Ensure consul_user exists and belongs to consul_group
    user:
      name: "{{ consul_owner }}"
      group: "{{ consul_group }}"
      system: yes
  become: yes
  when: ansible_os_family != 'Alpine'
- block:
  - name: Ensure consul_group exists(on Alpine Linux)
    command: "addgroup -S {{ consul_owner }}"
    register: cmd_consul_group
    changed_when: cmd_consul_group.rc == 0
    failed_when: cmd_consul_group.rc != 0 and "group '{{ consul_group }}' in use" not in cmd_consul_group.stderr
  - name: Ensure consul_user exists and belongs to consul_group(on Alpine Linux)
    command: "adduser -G {{ consul_group }} -H -S -D {{ consul_owner }}"
    register: cmd_consul_user
    changed_when: cmd_consul_user.rc == 0
    failed_when: cmd_consul_user.rc != 0 and "user '{{ consul_owner }}' in use" not in cmd_consul_user.stderr
  become: yes
  when: ansible_os_family == 'Alpine'
