---
# tasks file for consul
- name: Run specified tasks on current platform
  include: "{{ ansible_system }}.yml"
- block:
  - name: Ensure a directory related to daemon scripts exist
    file:
      path: "{{ consul_daemon_script_dir }}"
      owner: "{{ consul_owner }}"
      group: "{{ consul_group }}"
      state: 'directory'
  - name: Ensure directory(for logging related to daemon) exist
    file:
      path: "{{ consul_daemon_log_dir }}"
      owner: "{{ consul_owner }}"
      group: "{{ consul_group }}"
      state: 'directory'
  - name: Check path related to PID file of daemon
    stat:
      path: "{{ consul_daemon_pid_dir  }}"
    register: stat_daemon_pid_dir
    changed_when: no
  - name: Ensure directory(for lock file of daemon) exist
    file:
      path: "{{ consul_daemon_pid_dir }}"
      owner: "{{ consul_owner }}"
      group: "{{ consul_group }}"
      state: 'directory'
    when: not stat_daemon_pid_dir.stat.exists
  - name: Resolve the dependencies of daemon script
    pip:
      name: "{{ item }}"
    with_items:
      - python-daemon
      - click
  - name: Set daemon scripts
    template:
      src: "daemons.py.j2"
      dest: "{{ consul_daemon_script_dir }}/daemons.py"
      owner: "{{ consul_owner }}"
      group: "{{ consul_group }}"
      mode: '0755'
  become: yes
- block:
  - name: Ensure a directory of Consul config exists
    file:
      path: "{{ consul_config_remote_dir }}"
      owner: "{{ consul_owner }}"
      group: "{{ consul_group }}"
      state: 'directory'
  - name: Set a default config file
    template:
      src: 'consul_common.json.j2'
      dest: "{{ consul_config_remote_dir }}/consul_common.json"
      owner: "{{ consul_owner }}"
      group: "{{ consul_group }}"
  - name: set additional config files
    copy:
      src: "{{ consul_config_src_dir }}"
      dest: "{{ consul_config_remote_dir }}"
      owner: "{{ consul_owner }}"
      group: "{{ consul_group }}"
  when: consul_config_src_dir is defined
  become: yes
