---
# tasks file for consul
- name: Run specified tasks on current platform
  include: "{{ ansible_system }}.yml"
- block:
  - name: Ensure a directory related to run/daemon scripts exist
    file:
      path: "{{ consul_script_remote_dir }}"
      owner: "{{ consul_owner }}"
      group: "{{ consul_group }}"
      state: 'directory'
  - name: Ensure directory(for logging related to daemon) exist
    file:
      path: "{{ consul_daemon_log_dir }}"
      owner: "{{ consul_owner }}"
      group: "{{ consul_group }}"
      state: 'directory'
  - name: Check path related to PID file of daemon
    stat:
      path: "{{ consul_daemon_pid_dir  }}"
    register: stat_daemon_pid_dir
    changed_when: no
  - name: Ensure directory(for lock file of daemon) exist
    file:
      path: "{{ consul_daemon_pid_dir }}"
      owner: "{{ consul_owner }}"
      group: "{{ consul_group }}"
      state: 'directory'
    when: not stat_daemon_pid_dir.stat.exists
  - name: Resolve the dependency of daemon script
    pip:
      name: python-daemon
  - name: Set run/daemon scripts
    template:
      src: "{{ item }}"
      dest: "{{ consul_script_remote_dir }}/{{ item }}"
      owner: "{{ consul_owner }}"
      group: "{{ consul_group }}"
      mode: '0755'
    with_items:
      - services.sh
      - daemons.py
  become: yes
- block:
  - name: Ensure consul_config_remote_dir exists
    file:
      path: "{{ consul_config_remote_dir }}"
      owner: "{{ consul_owner }}"
      group: "{{ consul_group }}"
      state: 'directory'
  - name: Copy Consul config files from consul_config_src_dir to consul_config_remote_dir
    copy:
      src: "{{ consul_config_src_dir }}"
      dest: "{{ consul_config_remote_dir }}"
      owner: "{{ consul_owner }}"
      group: "{{ consul_group }}"
  - name: Ensure Consul config files are readable
    file:
      path: "{{ consul_config_remote_dir }}"
      recurse: yes
      mode: 'a+r'
  when: consul_config_src_dir is defined
  become: yes
