{
  "data_dir": "{{ consul_default_config_data_dir }}"
{% if consul_default_config_node_name is defined %}
  ,"node_name": "{{ consul_default_config_node_name }}"
{% endif %}
{% if consul_default_config_bind_addr is defined %}
  ,"bind_addr": "{{ consul_default_config_bind_addr }}"
{% endif %}
}
